.files
    &-block
        margin-left: 100px
    &-block p 
        
    &-table, tr, td
        border: 1px solid #d8d8d8
        border-collapse: collapse
        td 
            padding: 13px
    &-table
        margin-top: 20px
        margin-bottom: 40px
        margin-left: 40px
    &-subtitle
        font-size: 18px
        letter-spacing: 1px
        text-transform: uppercase
        +bold
    &-list
        list-style-type: decimal
        line-height: 1.7

@media (max-width: 768px)
    .files
        &-block
            margin-left: 0
        &-table
            margin-left: 0
@media (max-width: 480px)
    .files
        &-overflow
            overflow: scroll
        &-table
            font-size: 14px