* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  max-width: 1366px;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #333;
}

.container-img {
  background: url("../img/slides/kollej.jpg") no-repeat center bottom;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.ArrowDown {
  width: 14px;
  height: 14px;
  fill: #fff;
}

.headerTitle {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  background-color: #b8d9f8;
  padding: 20px;
  font-size: 35px;
  letter-spacing: 4px;
  color: #333;
  text-transform: uppercase;
}

.subtitle {
  display: block;
  margin-bottom: 10px;
}

.boldSubtitle {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
    margin-top: 30px;
  }
  .container-img {
    background: url("../img/slides/kollej.jpg") no-repeat center bottom;
    background-size: cover;
    height: 400px;
    width: 100%;
  }
  .headerTitle {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    background-color: #b8d9f8;
    padding: 15px;
    font-size: 25px;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
  }
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #fff;
}

.header-logo {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

.header-logo img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.header-logo h1 > a {
  color: #005ca9;
}

.header-logo .brToggle {
  display: none;
}

.header-contacts {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.header-contacts__email {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #005ca9;
}

.header-contacts__phone {
  display: flex;
  align-items: center;
  color: #005ca9;
}

.header-contacts .header-icon {
  font-size: 24px;
  margin-right: 10px;
}

.navbar [type="checkbox"] {
  display: none;
}

.navbar label.toggleSubmenu {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #005ca9;
}

.navbar label.toggleMenu {
  display: none;
  background-color: #005ca9;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.navbar ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  position: relative;
  list-style: none;
  text-transform: uppercase;
  margin: 0 7px;
  height: 100%;
}

.navbar ul > li a {
  display: block;
  padding: 15px 5px;
  height: 100%;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  transition: all 0.2s ease;
}

.navbar ul > li a:hover {
  background-color: #00549a;
}

.navbar ul li ul {
  position: absolute;
  min-width: 255px;
  display: none;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

.navbar ul li ul li {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar ul li > ul li a {
  padding: 10px;
  padding-left: 20px;
  text-transform: none;
  color: #005ca9;
  font-size: 15px;
  letter-spacing: 1px;
}

.navbar ul li > ul li a:hover {
  background-color: #d2eaff;
}

.navbar ul li > ul li i {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 20px;
}

.navbar ul li > ul li ul {
  position: absolute;
  right: -255px;
  top: 0;
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar-link {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9;
}

.navbar-link__lines, .navbar-link__lines:before, .navbar-link__lines:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  margin-top: -1px;
  top: 50%;
  background-color: #333;
}

.navbar-link__lines::before {
  content: '';
  transition: all 0.2s;
  margin-top: -6px;
}

.navbar-link__lines::after {
  content: '';
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-link__active .navbar-link__lines {
  background-color: transparent;
}

.navbar-link__active .navbar-link__lines::before {
  transform: rotate(135deg);
  margin-top: 0;
}

.navbar-link__active .navbar-link__lines::after {
  transform: rotate(-135deg);
  margin-top: 0;
}

.navbar-toggle {
  display: none;
  background-color: #005ca9;
  position: fixed;
  border-radius: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
  right: -100%;
  top: 0;
  line-height: 4;
}

.navbar-toggle__active {
  right: 0;
}

@media (max-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  .header-logo {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
  }
  .header-logo h1 {
    font-size: 16px;
  }
  .header-logo .brToggle {
    display: block;
  }
  .header-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
  .header-contacts__email {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-right: 20px;
    color: #005ca9;
  }
  .header-contacts__phone {
    display: flex;
    align-items: center;
    color: #005ca9;
  }
  .header-contacts .header-icon {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .navbar ul {
    display: block;
    max-height: 0;
  }
  .navbar {
    display: block;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  .navbar ul li:hover > ul {
    display: none;
  }
  .navbar ul li > ul li ul {
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 20px;
  }
  .navbar ul li > ul li a {
    color: #000;
  }
  .navbar label.toggleMenu {
    display: block;
    color: #fff;
  }
  .navbar label.toggleMenu .fas {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
  }
  .navbar input.toggleMenu:checked + label.toggleMenu {
    background-color: #b8d9f8;
    color: #000000;
  }
  .navbar input.toggleMenu:checked ~ ul,
  .navbar input.toggleSubmenu:checked ~ ul {
    display: block;
    position: relative;
    max-height: 5000px;
    transition: max-height 2s ease-in;
  }
  .navbar label.toggleSubmenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
  }
  .navbar input.toggleSubmenu:checked + a {
    background-color: #b8d9f8;
    color: #000;
  }
}

@media (max-width: 480px) {
  .header-contacts {
    display: none;
  }
}

.about-block {
  margin-left: 100px;
  width: 80%;
}

.about-text__title {
  position: relative;
  z-index: -1;
  text-transform: uppercase;
}

.about-text__title::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 3px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #005ca9;
}

.about-text__info {
  margin-top: 50px;
}

.about-text .info {
  margin-bottom: 50px;
}

.about-text .info-item {
  display: flex;
  margin-bottom: 50px;
  line-height: 1.8;
}

.about-text .info-item .leftAlign {
  margin-right: 50px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .about-block {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-text {
    font-size: 14px;
  }
}

.vowList-block {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

.vowList-text {
  color: #005ca9;
}

.vowList-text p {
  text-align: left;
  font-size: 18px;
}

@media (max-width: 768px) {
  .vowList-block {
    width: 100%;
  }
  .vowList-text p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .vowList-text p {
    font-size: 14px;
  }
}

.specialisations-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.specialisations-item {
  max-width: 580px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  letter-spacing: 1px;
  transition: all 0.2s;
  cursor: pointer;
}

.specialisations-item:hover {
  box-shadow: 0 0 18px 3px #838282;
}

.specialisations-item__title {
  display: block;
  background-color: #b8d9f8;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

.specialisations-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.specialisations-info__subtitle {
  display: block;
  font-size: 14px;
  padding: 0 10px;
  height: 66px;
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

.specialisations-info__numbers {
  display: none;
}

.specialisations-info__img {
  height: 200px;
  width: 250px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
}

.specialisations-info .img1 {
  background: url("../img/specialisations/profilaktika.jpg") no-repeat center;
  background-size: cover;
}

.specialisations-info .img2 {
  background: url("../img/specialisations/profilaktika1.jpg") no-repeat center;
  background-size: cover;
}

.specialisations-info .img3 {
  background: url("../img/specialisations/hamshiralik.jpg") no-repeat center;
  background-size: cover;
}

.specialisations-info .img4 {
  background: url("../img/specialisations/hamshiralik1.jpg") no-repeat center;
  background-size: cover;
}

.specialisations-info .img5 {
  background: url("../img/specialisations/davolash.jpg") no-repeat center;
  background-size: cover;
}

.specialisations-info .img6 {
  background: url("../img/specialisations/davolash1.jpg") no-repeat center;
  background-size: cover;
}

.specialisations-info .img7 {
  background: url("../img/specialisations/farmatsiya.jpg") no-repeat center;
  background-size: cover;
}

.specialisations-info .img8 {
  background: url("../img/specialisations/farmatsiya1.jpg") no-repeat center;
  background-size: cover;
}

@media (max-width: 768px) {
  .specialisations-item {
    width: 90%;
    padding-bottom: 20px;
  }
  .specialisations-item__title {
    font-size: 16px;
  }
  .specialisations-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .specialisations-info__subtitle {
    height: 100%;
    font-size: 14px;
    color: #005ca9;
  }
  .specialisations-info__numbers {
    display: inline-block;
  }
  .specialisations-info__img {
    display: none;
  }
}

@media (max-width: 480px) {
  .specialisations-info__subtitle {
    font-size: 14px;
    color: #005ca9;
  }
  .specialisations-info__numbers {
    display: inline-block;
  }
  .specialisations-info__img {
    display: none;
  }
}

.rules-block {
  display: flex;
  justify-content: center;
}

.rules-text {
  width: 70%;
}

.rules-text__title {
  text-align: center;
  margin-bottom: 40px;
}

.rules-text .date {
  display: block;
  margin-top: 40px;
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 768px) {
  .rules-text {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .rules-text {
    font-size: 14px;
  }
}

.staff-table, .staff tr, .staff td {
  border: 1px solid #d8d8d8;
  border-collapse: collapse;
}

.staff-table td, .staff tr td, .staff td td {
  padding: 13px;
}

.staff-table {
  margin-bottom: 40px;
  margin-left: 40px;
}

.staff-table__name {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 768px) {
  .staff-block td {
    padding: 8px;
  }
  .staff-table {
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .staff-table__img {
    display: none;
  }
}

@media (max-width: 480px) {
  .rules-text {
    font-size: 14px;
  }
}

.files-block {
  margin-left: 100px;
}

.files-table, .files tr, .files td {
  border: 1px solid #d8d8d8;
  border-collapse: collapse;
}

.files-table td, .files tr td, .files td td {
  padding: 13px;
}

.files-table {
  margin-bottom: 40px;
  margin-left: 40px;
}

.files-table__text {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

@media (max-width: 768px) {
  .files-block {
    margin-left: 0;
    font-size: 14px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: #004b8a;
}

.footer-logo {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.footer-logo img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.footer-logo p > a {
  font-size: 20px;
  color: #fff;
}

.footer-address {
  color: #fff;
}

.footer-address h3 {
  margin-bottom: 5px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.footer-contacts__email {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.footer-contacts__phone {
  display: flex;
  align-items: center;
  color: #fff;
}

.footer-contacts .footer-icon {
  font-size: 24px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .footer-address, .footer-contacts {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .footer-logo p > a {
    font-size: 18px;
  }
  .footer-address, .footer-contacts {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */